@import "styles/variables.scss";
@import "../../styles/global.scss";

.detailMoreSection {
  width: auto;
}

.detailBabyInfoSpace {
  height: calc(var(--bs-gutter-x) * .5);;
}

.log-button {
  margin: 0px 1vw 0px 0px;
}