@import "styles/mixins.scss";
@import "styles/variables.scss";
@import "../../styles/global.scss";

.babyPic {
    width: 60px;
}

.babyPicImage {
    width: 40px;
}

.baby-section {
    width: 400px;
}