@import "styles/variables.scss";

.button {
  min-width: 100px;
  padding: 10px;
  font-weight: bold;
  border-radius: 30px;
  font-size: 12pt;
  border-width: 0.5px;
  border-style: solid;
  border-color: gainsboro;
  color: $default-button-text-up;
  background-color: $default-button-up;
}

.button:hover {
  background-color: $default-button-down;
  color: $default-button-text-down;
}

.button--danger {
  color: $danger-button-text-up;
  background-color: $danger-button-up;
}

.button--danger:hover {
  color: $danger-button-text-down;
  background-color: $danger-button-down;
}

.button--confirm {
  color: $confirm-button-text-up;
  background-color: $confirm-button-up;
}

.button--confirm:hover {
  color: $confirm-button-text-down;
  background-color: $confirm-button-down;
}

.button:last-of-type {
  margin-right: 0;
}

.button:focus {
  outline: none;
}