@import "styles/variables.scss";

.username {
  color: $theme-primary;
  margin-right: 1em;
  margin-top:auto;
  margin-bottom: auto;
}

nav {
  font-size: 1.2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 80px;
  width: 100%;
  background-color: transparent;
}