@import "styles/mixins.scss";
@import "styles/variables.scss";

.username {
  margin-top: 0.5rem;
  font-size: 1.4rem;
  height: 2rem;
  line-height: 1.2rem;
  margin-right: 1rem;
  width: 8rem;
  color: $white;
  background-color: transparent;
}

nav {
  font-size: 1.2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 80px;
  width: 100%;
  background-color: transparent;
  // padding-left: 1.5em;
  padding-right: 20px;
  // position: fixed;
  top: 0;
  width: 100%;
}