@import "styles/variables.scss";

.new-baby-thumb {
  position: relative;
  background-color: rgb(69, 145, 147);
  width:18vw;
  height:18vw; 
  border-style: solid;
  border-width: 2px;
  border-color: rgb(198, 198, 198);
  top: 10%;
}

.new-baby-srcImage {
  object-fit: cover;
  width:100%;
  height:100%;
}