@import "styles/mixins.scss";
@import "styles/variables.scss";

.new-baby {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.information {
  display: flex;
  flex-direction: column;
  margin-right: 5rem
}

.picture-container {
  border: solid 1px;
  height: 8rem;
  width: 10rem;
  text-align: center;
  padding-top: 3rem;
  margin-left: 5rem
}

.new-baby-details {
  width: 12rem;
}

#new-baby-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 20rem;
  justify-content: space-between;
}

.save-button {
  margin-top: 20rem;
}